.Rproj.user
.Rhistory
.RData
.Ruserdata
./lcWGS/analysis-20240606/experimental/pcod-exp_wholegenome_wgassign.beagle
./lcWGS/analysis-20240606/reference/gls/pcod-refs_wholegenome_wgassign.beagle.gz
./lcWGS/analysis-20240606/reference/gls/pcod-refs_wholegenome_wgassign_filtered.beagle.gz
./lcWGS/analysis-20240606/reference/pcod-refs_wholegenome_wgassign_filtered.beagle
./lcWGS/analysis-20240606/refs-and-exp.beagle.gz
./lcWGS/analysis-20240606/wgsassign/angsd/pcod_wholegenome_wgassign.beagle.gz
./lcWGS/analysis-20240606/wgsassign/angsd/pcod_wholegenome_wgsassign_rehead.beagle.gz
./lcWGS/analysis-20240606/wgsassign/pcod-refs_wholegenome_wgassign_filtered.beagle.gz
./lcWGS/analysis-20240606/wgsassign/refs-exp-merged.beagle.gz
./references/cds_from_genomic.fna
./references/cds_from_genomic_blastx.tab
./references/GCF_031168955.1_ASM3116895v1_blastx.tab
./references/GCF_031168955.1_ASM3116895v1_genomic.fna
./references/GCF_031168955.1_ASM3116895v1_genomic.gff
./references/GCF_031168955.1_ASM3116895v1_genomic.gtf
./references/PGA_assembly_hap2.chrom_only.fasta
./rnaseq/dexseq/dxd.fc.final
./rnaseq/dexseq/dxd.fc.treats
./rnaseq/wgcna/dissTom
